pandas>=1.5.0
matplotlib
openpyxl
xlsxwriter
cryptography
schedule>=1.1.0
requests>=2.31.0
pyotp
flask
tk
pandas
numpy
matplotlib
scikit-learn
requests
ephem
stripe>=12.1.0
wmi>=1.5.1
paypalrestsdk>=1.13.1
qrcode>=7.4.2
jinja2>=3.1.2
pdfkit>=1.0.0