__pycache__/
*.pyc
.env
*.sqlite3

# Clé de chiffrement locale (ne jamais versionner)
# Clés et fichiers cryptés sensibles
fernet.key
LICENSE_ADMIN/*.key
LICENSE_ADMIN/*.enc
LICENSE_ADMIN\email = phoenix38@riseup.net